@font-face {
  font-family: "NIXGONM-Vb";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: "NIXGONM-Vb";
  margin: 0;
  background: black;
}

.navbar-container {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  margin-left: 20px;
}

.nav-list {
  margin-right: 120px;
}

a {
  text-decoration: none;
  color: #24252a;
}

ul {
  display: flex;
  width: 200px;
  justify-content: space-between;
  font-size: 19px;
  list-style: none;
}

li {
  width: 60px;
  height: 39px;
  line-height: 2;
  text-align: center;
  background: #119ed2;
  cursor: pointer;
  margin-right: 20px;
  padding: 0 20px;
  opacity: 0.9;
  border-radius: 50px;
}

/* TODO: 모바일 대응 추가 */

@media screen and (max-width: 768px) {
  body {
    background: black;
  }

  #logo {
    width: 7em;
    height: 4em;
  }
}

li a:hover {
  color: azure;
  font-size: 19px;
}

/* text-banner */
.date {
  color: #67495b;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  background: #ede2e5;
  line-height: 4;
  dispaly: block;
  margin: 0px;
}

#js_date {
  color: #b66e7e;
}
